.our-campaign-row .et_pb_column_1_3  .et_pb_image .et_pb_image_wrap  {height: 200px;width: 100%;
    overflow: hidden;}
.our-campaign-row .et_pb_column_1_3  .et_pb_image .et_pb_image_wrap  img{height: 100%;width: 100%;
    object-fit: cover;}